/*RESPONSIVE FOR TABLET*/ 
@media all and (min-width: 569px) {
    /*FIRST SECTION*/
    #blue{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content:center ;
    flex-wrap: wrap;
    width: 90%;
    }

    .blu-cards{
        flex-wrap: wrap;
        background-color: #b5ddff;
        padding: 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        gap: 30px;
        width: calc((100% / 3) - 30px);
        
    }

    .blu-cards.big{
        align-items: flex-start;
        text-align: start;
        padding-bottom: 0;
        width:  65%; 
    }
    
    #phone-img{
        width: 40%;
        margin: 0;
        display: flex;
        justify-content: start;
        align-items: flex-end;
    }
    .blu-cards.big > button{
        margin: 0;
    }


    /*THIRD SECTION */
    #testimonials .card{
        display: block;
    }
    
    .card > div{
        float: left;
        width: 40%;
        height: 100%;
    }

    .card > h4 {
        font-size: 20px;
        text-align: start;
        margin: 1% 40%;
       
    }
    
    .card > p{
        font-size: 16px;
        line-height: 30px;
        padding: 5% 0;
    }

    /*FOURTH SECTION */
    .benefit{
        display: inline-block;
    }

    #contenitor-card-number{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .number{
        width: calc(100% /2 - 30px);
        margin: 0;
        align-items: flex-start;
    }

    #contenitor-card-number > h2{
        font-size: 50px;
    }
    
    .more{
        width: 50%;
    }
    
    /*FIFTH SECTION */
    #about-us{
        flex-direction: row;
        justify-content: stretch;
    }

    #about-us > div{
        width: 40%;
    }
    #about-us > div:first-child{
        width: 60%; 
    }

    .quote {
        font-size: 300%;
        color: #9593e6;
        position: absolute;
        top: 0;
        right: 10%;
    }

    
    .get-started, #end-page{
        max-width: 70%;
    }
}

/*RESPONSIVE FOR DISPLAY*/ 
@media screen and (min-width: 1021px) {
    nav{
        max-width: 1420px;
    }
    #blue, .purple , #testimonials, #contenitor-card-number{
        max-width: 1420px;
    }

    .get-started, #end-page{
        max-width: 50%;
    }

    .number{
        width: calc(100% /3 - 30px);
        margin: 0;
        align-items: flex-start;
    }
    
}