*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans";
    line-height: 30px;
}

/*STYLING HEADER */
header{
    width: 100%;
    background-color: #0084fd;
    height: 70px;
    position: fixed;
    z-index: 1000;
}

nav{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bars{
    font-size: 40px;
    color: white;
}

/*STYLING MAIN */
main{
    padding-top: 70px;
    width: 100%;
    margin: auto;
}

#contenitor{
    width: 100%;
    margin: auto;
}

section , .purple{
    margin: 40px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 30px;  
}

p{
    font-size: 16px;
    font-weight: 600;
}

h3{
    font-size: 30px;
}

/* first section */    
#blue , .purple{
    display: flex;
    flex-direction: column;
    align-items: start;

}

.blu-cards{
    width: 100%;
    background-color: #b5ddff;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;    
}

/*blu-card big*/
.blu-cards.big{
    align-items: flex-start;
    text-align: start;
    padding-bottom: 0;

}

#blue h3{
    color: #0084fd;
}

#blue p{
    font-weight: bold;
    color: #5d7384;
}

button{
    padding: 10px 20px;
    border-radius: 30px;
    border-color: transparent;
    margin: auto;
}

#bt-blue{
    background-color: #0084fd;
    color: white;
    width: 50%;
}

a{
    text-decoration: none;
}

#bt-blue > a{
    color: white;
    font-weight: bold;
    text-align: justify;
    letter-spacing: 0.2em;
}

#phone-img{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#phone-img > img{
    width: 100%;
}

/*blu-card*/
.icone{
    color: #0084fd;
    font-size: 100px
}

/*STYLING Second section*/
.card {
    width: 100%;
    margin: 20px 0;
}

.card img{
    width: 100%;
}

.bg-purple{
    width: 100%;
    background-color:#9593e6;
    padding-bottom: 40px;
    margin-bottom: 0;
}
.purple h3{
    color: white;
    margin: 50px 0;
}

.purple > p{
    font-weight: 700;
    color: white;
  
}

#italic-p{
    font-style:italic ;
}

.img-bg{
    border-radius: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.color-white{
    background-color: white;
    width: 90%;
    margin: auto;
}

.img-bg-white p{
    color: black ;
    font-style: italic;
    text-align: center;

}

.img-bg-white img{
    width: 100%;
}

#bt-purple{
    background-color: #9593e6;
}
.fa-arrow-down{
    font-size: 20px;
}

/*SETTING THIRD SECTION*/
#testimonials{
    text-align: center;
} 

#testimonials > h2{
    color: #9593e6;
}

.color-purple{
    background-color: #9593e6;
    color: white;

}

.photo-circle{
    clip-path: circle();
}



.color-purple i{
    font-size: 30px;
    padding: 0 15px;
}

h2{
    font-size: 40px;
}

h4{
    font-size: 20px;
}