*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans";
}
/*STYLING HEADER */
header{
    width: 100%;
    background-color: #0084fd;
    height: 70px;
    position: fixed;
    z-index: 1000;
}

nav{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bars{
    font-size: 40px;
    color: white;
}

/*STYLING MAIN */
main{
    padding-top: 70px;
    width: 100%;
    margin: auto;
}

#contenitor{
    width: 90%;
    margin: auto;
}


section{
    margin: 40px auto;
}

/* first section */    

#blue{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.blu-cards{
    width: 100%;
    background-color: #b5ddff;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    line-height: 30px;
    
}

/*blu-card big*/
.blu-cards.big{
    align-items: flex-start;
    text-align: start;
    padding-bottom: 0;

}

#blue h2{
    color: #0084fd;
}

#blue p{
    font-weight: bold;
    color: #5d7384;
}

button{
    padding: 10px 20px;
    margin: auto;
}


#bt-blue{
    background-color: #0084fd;
    border-radius: 30px;
    border-color: transparent;
    color: white;
    width: 30%;
}

a{
    text-decoration: none;
}

#bt-blue > a{
    color: white;
    font-weight: bold;
    text-align: justify;
    letter-spacing: 0.2em;
}

.images{
    margin: auto;
    display: flex;
    align-items: flex-end;
}

.images > img{
    width: 100%;
}
/*blu-card*/

.icone{
    color: #0084fd;
    font-size: 100px
}